.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  cursor: pointer;
}

.header {
  background-color: rgba(165, 42, 42, 0.356);
}

.logo {
  margin: 0 auto;
  display: flex;
}

.description,
.menus {
  border: 1px solid black;
  max-width: 750px;
  margin: 0 auto;
}

.description .menu_bar {
  background: rgb(136, 0, 0);
  color: white;
}
.close-button {
  background: none;
  border: none;
}
.description div,
.menus div {
  padding: 3px 6px;
}

.menu_bar {
  background: rgb(255, 204, 170);
  color: rgb(136, 0, 0);
  display: flex;
  justify-content: space-between;
}

.menus {
  color: rgb(136, 0, 0);
  border: 1px solid rgb(136, 0, 0);
}

.stats {
  display: flex;
  justify-content: space-around;
}

.copyright {
  color: rgb(136, 0, 0);
  text-align: center;
}

.menus-more2{
  display: flex;
justify-content: center;
}

.menus-more2 span{
  padding: 0px 4px;
}


@media screen and (min-width: 640px) {
  .more {
    background: rgb(255, 238, 221);
    width: max-content;
    display: flex;
    margin: 0 auto;
    color: rgb(136, 0, 0);
    clear: both;
    padding: 0;
    border-bottom: 1px solid rgb(136, 0, 0);
  }

  .more-options {
    padding: unset;
  }

  .more span {
    padding: 5px 10px;
    border-right: 1px solid rgb(136, 0, 0);
  }

  .more span:first-child {
    border-left: 1px solid rgb(136, 0, 0);
  }
  .more a {
    text-decoration: none;
    color: inherit;
  }
  .more a:hover {
    cursor: pointer;
    color: rgb(253, 95, 95);
  }

  .menus-more {
    padding: unset;
    border: none;
    border-top: 1px solid rgb(136, 0, 0);
    grid-row: 1px solid rgb(136, 0, 0);
    max-width: 750px;
    margin: 0 auto;
  }
}
